<!DOCTYPE html>
<html lang="en">
  <head>
    {%load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="{%static  '/css/design.css' %}" />

    <!-- ===== BOX ICONS ===== -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />

    <title>Portfolio</title>
  </head>
  <body>
    <!--===== HEADER =====-->
    <header class="l-header">
      <nav class="nav bd-grid">
        <div>
          <a href="#" class="nav__logo">Parthiv</a>
        </div>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#home" class="nav__link active">Home</a>
            </li>
            <li class="nav__item">
              <a href="#about" class="nav__link">About</a>
            </li>
            <li class="nav__item">
              <a href="#skills" class="nav__link">Skills</a>
            </li>
            <li class="nav__item">
              <a href="#project" class="nav__link">Project</a>
            </li>
            <li class="nav__item">
              <a href="#contact" class="nav__link">Contact</a>
            </li>
          </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
          <i class="bx bx-menu"></i>
        </div>
      </nav>
    </header>

    <main class="l-main">
      <!--===== HOME =====-->
      <section class="home" id="home">
        <div class="home__container bd-grid">
          <h1 class="home__title"><span>HE</span><br />LLO.</h1>

          <div class="home__scroll">
            <a href="#about" class="home__scroll-link"
              ><i class="bx bx-up-arrow-alt"></i>Scroll down</a
            >
          </div>

          <img
            src="https://res.cloudinary.com/dp2q8lnlb/image/upload/v1658515081/Portfolio/aiimg-removebg-preview_bc5p7b.png"
            alt=""
            class="home__img"
          />
        </div>
      </section>

      <!--===== ABOUT =====-->
      <section class="about section" id="about">
        <h2 class="section-title">About</h2>

        <div class="about__container bd-grid">
          <div class="about__img">
            <img
              src="https://res.cloudinary.com/dp2q8lnlb/image/upload/v1658515081/Portfolio/aiimg-removebg-preview_bc5p7b.png"
              alt=""
            />
          </div>

          <div>
            <h2 class="about__subtitle">I'am Parthiv Sarkar</h2>
            <span class="about__profession">Software Engineer</span>
            <p class="about__text">
              I am a 3rd year under-graduate at Birla Institute of Technology,
              Mesra. My branch is Information Technology. My interest lies in
              Competitive Programming, Data Structure and Algorithms and Full
              Stack web development. Also keen to learn about Machine Learning
              and Python.
            </p>

            <div class="about__social">
              <a
                href="https://www.linkedin.com/in/parthiv-sarkar-0a754b203/"
                class="about__social-icon"
                ><i class="bx bxl-linkedin"></i
              ></a>
              <a href="https://github.com/parthiv360" class="about__social-icon"
                ><i class="bx bxl-github"></i
              ></a>
              <a
                href="https://codeforces.com/profile/parthivsarkar360"
                class="about__social-icon"
                ><i class="bx bx-code-alt"></i
              ></a>
              <a
                href="https://drive.google.com/file/d/1xBbYlyC5_aQDQLHNDRnNSfIbv_Zd9FE6/view?usp=sharing"
                class="about__social-icon"
                ><i class="bx bxs-file"></i
              ></a>
            </div>
          </div>
        </div>
      </section>

      <!--===== SKILLS =====-->
      <section class="skills section" id="skills">
        <h2 class="section-title">Skills</h2>

        <div class="skills__container bd-grid">
          <div class="skills__box">
            <h3 class="skills__subtitle">Languages</h3>
            <span class="skills__name">C</span>
            <span class="skills__name">C++</span>
            <span class="skills__name">Python</span>

            <h3 class="skills__subtitle">Web Development</h3>
            <span class="skills__name">Html</span>
            <span class="skills__name">Css</span>
            <span class="skills__name">Javascript</span>
            <span class="skills__name">ReactJS</span>
            <span class="skills__name">Django</span>
            <span class="skills__name">SQL</span>
            <span class="skills__name">Git</span>

            <h3 class="skills__subtitle">Technologies</h3>
            <span class="skills__name">Data Structure and Algorithms</span>
            <span class="skills__name">Object Oriented Programming</span>
            <span class="skills__name">Operating System</span>
            <span class="skills__name">Database Management System</span>
          </div>

          <div class="skills__img">
            <img src="assets/img/skill.jpg" alt="" />
          </div>
        </div>
      </section>

      <!--===== PORTFOLIO =====-->
      <section class="portfolio section" id="project">
        <h2 class="section-title">Project</h2>

        <div class="portfolio__container bd-grid">
          <div class="portfolio__img">
            <img
              src="https://res.cloudinary.com/dp2q8lnlb/image/upload/v1658514450/Portfolio/Screenshot_522_r6clj6.png"
              alt=""
            />

            <div class="portfolio__link">
              <a
                href="https://bit-mart.herokuapp.com/"
                class="portfolio__link-name"
                target="_blank"
                >Click to Visit</a
              >
            </div>
            <p class="project_name">Bit-Mart</p>
          </div>
          <div class="portfolio__img">
            <img
              src="https://res.cloudinary.com/dp2q8lnlb/image/upload/v1658514451/Portfolio/Screenshot_521_ot30bz.png"
              alt=""
            />

            <div class="portfolio__link">
              <a
                href="https://path-careerpath.herokuapp.com/"
                class="portfolio__link-name"
                target="_blank"
                >Click to Visit</a
              >
            </div>
            <p class="project_name">Career-Path</p>
          </div>
          <div class="portfolio__img">
            <img
              src="https://res.cloudinary.com/dp2q8lnlb/image/upload/v1658514450/Portfolio/Screenshot_520_hajtdb.png"
              alt=""
            />

            <div class="portfolio__link">
              <a
                href="https://mighty--byte.herokuapp.com/"
                class="portfolio__link-name"
                target="_blank"
                >Click to Visit</a
              >
            </div>
            <p class="project_name">Mighty-Byte</p>
          </div>
          <div class="portfolio__img">
            <img
              src="https://res.cloudinary.com/dp2q8lnlb/image/upload/v1658514673/Portfolio/Screenshot_523_ivravm.png"
              alt=""
            />

            <div class="portfolio__link">
              <a
                href="http://parthivsarkar.me/weatherweb/"
                class="portfolio__link-name"
                target="_blank"
                >Click to Visit</a
              >
            </div>
            <p class="project_name">Weather Web</p>
          </div>
          <div class="portfolio__img">
            <img
              src="https://res.cloudinary.com/dp2q8lnlb/image/upload/v1658515260/Portfolio/Screenshot_524_cey9kq.png"
              alt=""
            />

            <div class="portfolio__link">
              <a href="#" class="portfolio__link-name">Click to Visit</a>
            </div>
            <p class="project_name">My Portfolio</p>
          </div>
        </div>
      </section>

      <!--===== CONTACT =====-->
      <section class="contact section" id="contact">
        <h2 class="section-title">Contact</h2>

        <div class="contact__container bd-grid">
          <div class="contact__info">
            <h3 class="contact__subtitle">EMAIL</h3>
            <span class="contact__text">parthivsarkar360@gmail.com</span>

            <h3 class="contact__subtitle">PHONE</h3>
            <span class="contact__text">+91 82104-28199</span>

            <h3 class="contact__subtitle">ADDRESS</h3>
            <span class="contact__text">Jamshedpur,India</span>
          </div>

          <form action="" class="contact__form">
            <div class="contact__inputs">
              <input type="text" placeholder="Name" class="contact__input" />
              <input type="mail" placeholder="Email" class="contact__input" />
            </div>

            <textarea
              name=""
              id=""
              cols="0"
              rows="10"
              class="contact__input"
            ></textarea>

            <input type="submit" value="Submit" class="contact__button" />
          </form>
        </div>
      </section>
    </main>

    <!--===== FOOTER =====-->
    <footer class="footer section">
      <div class="footer__container bd-grid">
        <div class="footer__data">
          <h2 class="footer__title">Parthiv Sarkar</h2>
          <p class="footer__text">
            I'm Parthiv Sarkar and this is my personal website
          </p>
        </div>

        <div class="footer__data">
          <h2 class="footer__title">EXPLORE</h2>
          <ul>
            <li><a href="#home" class="footer__link">Home</a></li>
            <li><a href="#about" class="footer__link">About</a></li>
            <li><a href="#skills" class="footer__link">Skills</a></li>
            <li><a href="#project" class="footer__link">Project</a></li>
            <li><a href="#Contact" class="footer__link">Contact</a></li>
          </ul>
        </div>

        <div class="footer__data">
          <h2 class="footer__title">FOLLOW</h2>
          <a href="https://twitter.com/_hollowwww_" class="footer__social"
            ><i class="bx bxl-twitter"></i
          ></a>
          <a
            href="https://www.instagram.com/_._hollowwww_._/"
            class="footer__social"
            ><i class="bx bxl-instagram"></i
          ></a>
          <a href="mailto:parthivsarkar360@gmail.com" class="footer__social"
            ><i class="bx bxl-gmail"></i
          ></a>
        </div>
      </div>
    </footer>

    <!--===== SCROLL REVEAL =====-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>

    <!--===== MAIN JS =====-->
    <script src="{%static  '/js/front.js' %}"></script>
  </body>
</html>
