<html>
  <head>
    {%load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio Page</title>
    
    <link rel="stylesheet" href="{%static '/css/style.css' %}">
    <!-- GOOGLE FONTS -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,400&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap" rel="stylesheet" />
    
  </head>
  <body>
   
    
  
    <nav id="navbar" class="nav">
      
      <ul class="nav-list">
        <li>
          <a href="#welcome-section">About</a>
        </li>
        <li>
          <a href="#skills">Skills</a>
        </li>
        <li>
          <a href="#projects">Work</a>
        </li>
        
        
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  
    <!-- END NAV -->
    
    <!-- WELCOME SECTION -->
    
    <section id="welcome-section" class="welcome-section">
      <h1>Hey, I am Parthiv Sarkar</h1>
      <p>a web developer</p>
    </section>
    
    <!-- END WELCOME SECTION -->
    
    <!-- PROJECTS SHOWCASE SECTION -->
    
    <section id="projects" class="projects-section">
      <h2 class="projects-section-header">These are some of my projects</h2>
    
      <div class="projects-grid">
        <a href="" target="_blank" class="project project-tile">
          <img class="project-image" src="https://bublup-media-production.s3.amazonaws.com/nol2Mtone62p4h5VNdeZIw/images/full_007-im-450ec6b5-72bf-40e4-b14c-6917f54edded.jpg" alt="project" />
          <p class="project-title">
            <span class="code">&lt;</span>
            Portfolio Page
            <span class="code">&#47;&gt;</span>
          </p>
        </a>
    
        <a href="https://parthiv360.github.io/weatherweb/" target="_blank" class="project project-tile">
          <img class="project-image" src="https://bublup-media-production.s3.amazonaws.com/or-RuZPTqQqcIKq-dtBGPA/images/full_007-im-c067ffd5-4db0-4aa6-9879-bd6ce1322c04.jpg" alt="project" />
          <p class="project-title">
            <span class="code">&lt;</span>
            Weather Application
            <span class="code">&#47;&gt;</span>
          </p>
        </a>
    
        <a href="https://parthiv360.github.io/project3/" target="_blank" class="project project-tile">
          <img class="project-image" src="https://bublup-media-production.s3.amazonaws.com/2M8kFrQS6NNi_zyqcC7_Lw/images/full_007-im-a47daac5-83e8-41a4-b266-480c2765d77a.jpg" alt="project" />
          <p class="project-title">
            <span class="code">&lt;</span>
            Covid-Tracker
            <span class="code">&#47;&gt;</span>
          </p>
        </a>
    
       
    
        <a href="https://parthiv360.github.io/wiki_youtube/" target="_blank" class="project project-tile">
          <img class="project-image" src="https://bublup-media-production.s3.amazonaws.com/H-8irK4ezQ4dZ9Io03xf8w/images/full_007-im-fae74f5a-6939-4778-b200-ecdc6c2d9bab.jpg" alt="project" />
          <p class="project-title">
            <span class="code">&lt;</span>
            Wiki-Youtube
            <span class="code">&#47;&gt;</span>
          </p>
        </a>
    
      </div>
    
      
    </section>
    
    <!-- END PROJECTS SECTION -->
    <!-- SKILL SECTION -->
    <section id="skills" class="projects-section">
      <h2 class="projects-section-header">These are some of my skills</h2>
      <div class="skill">
        <div class="desc">
          <p>
            I love doing Competitive Programming . Currently I am learning Data Structures and Algorithm.  
          </p>
          <p>
            In the frontend side I am familiar with HTML,CSS & JavaScript.
          </p>
          <p>
            In the backend I am trying to learn Django with SQL as my Database.
          </p>
          <p>
            I have some knowledge about OOP in JAVA and Python.
          </p>
        </div>
        <br>
        <br>
        <div class="bar">
          <div class="progress">
            <p>
              <span>C/C++</span><br>
              <progress value="70" max="100"></progress>
              <span>70%</span>
            </p>
            <p>
              <span>HTML</span><br>
              <progress value="85" max="100"></progress>
              <span>85%</span>
            </p>
            <p>
              <span>CSS</span><br>
              <progress value="70" max="100"></progress>
              <span>70%</span>
            </p>
            <p>
              <span>JavaScript</span><br>
              <progress value="50" max="100"></progress>
              <span>50%</span>
            </p>
            <p>
              <span>JAVA</span><br>
              <progress value="25" max="100"></progress>
              <span>25%</span>
            </p>
            <p>
              <span>Python</span><br>
              <progress value="30" max="100"></progress>
              <span>30%</span>
            </p>
            <p>
              <span>Django</span><br>
              <progress value="40" max="100"></progress>
              <span>40%</span>
            </p>
            
          </div>
        </div>
      </div>
      
    </section>
    <!-- END SKILL SECTION -->
    <!-- CODE RATING SECTION -->
    <section id="coding" class="projects-section">
      <h2 class="projects-section-header">MY CODEFORCES PROFILE</h2>
      <div style="display: flex; justify-content: center">
      <fieldset style="background-color:#4c8dd8; padding: 30px; max-width: 500px;">
        <div class="code">
          <img src="{{response.result.0.titlePhoto}}" alt="">
          <br>
          <h3>Current Rating: {{ response.result.0.rating }}</h3>
          <h3> Current Rank: {{response.result.0.rank}}</h3>
          <h3>Max rating: {{ response.result.0.maxRating}}</h3>
          <h3>Max rank: {{response.result.0.maxRank}}</h3>
        </div>
      </fieldset>
    </div>
    </section>
    <!-- CONTACT SECTION -->
    
    <section id="contact" class="contact-section">
      <div class="contact-section-header">
        <h2>Let's work together...</h2>
        <p>How do you take your coffee?</p>
      </div>
      <div class="contact-links">
        <a href="https://www.linkedin.com/in/parthiv-sarkar-0a754b203/" target="_blank" class="btn contact-details"><i class="fab fa-linkedin"></i>Linkedin</a>
        <a id="profile-link" href="https://github.com/parthiv360" target="_blank" class="btn contact-details"><i class="fab fa-github"></i> GitHub</a>
        
        <a href="mailto:parthivsarkar360@gmail.com" class="btn contact-details"><i class="fas fa-at"></i> Send a mail</a>
        <a href="tel:8210428199" class="btn contact-details"><i class="fas fa-mobile-alt"></i> Call me</a>
      </div>
    </section>
    
    <!-- END CONTACT SECTION -->
    
    <!-- FOOTER SECTION -->
    
    <footer>
     
      <p>
        &copy; Created by Parthiv Sarkar <span>&lt;2021&gt;</span>
        
      </p>
    </footer>
    
    <!-- END FOOTER SECTION -->
  </body>
</html>